# Node modules (both frontend & backend)
client/node_modules/
server/node_modules/

# Firebase Admin SDK private key
server/serviceAccountKey.json 
# to get serviceAccountKey.json, go to Firebase Console > Project Settings > Service accounts > Generate new private key
# and download the JSON file. Place it in the server folder.
# make sure to name it serviceAccountKey.json


# Build files
client/build/

# IDE/editor files
.vscode/
*.log
.DS_Store

# OS system files
Thumbs.db
